<div class="form-container w-100">
    <h1 class="text-center">Welcome to Postit</h1>
    <h2 class="text-center">Post anything you think about anything!</h2>

    <div class="alert alert-primary">
        <div class="container w-50">
            <h6 class="small d-inline ms-auto">What do you wanna do?</h6>
            <button class="btn btn-primary" [routerLink]="['/auth/register']">Register</button>
            <button class="btn btn-primary me-auto" [routerLink]="['/auth/login']">Login</button>
        </div>
    </div>

    <!-- <div class="card w-50 shadow me-auto ms-auto">
        <div class="card-header">
            <h2>Do you have an account?</h2>
        </div>
        <div class="card-body">
            <div class="form">
                <label for="username">Username</label>
                <input type="text" class="form-control"> 
            </div>
        </div>
    </div> -->
</div>

<h2>Post section here</h2>
